# Arquivos de Build e dependências
/target/
/build/
/out/

# Logs
*.log

# Arquivos do sistema
.DS_Store

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

*Zone.Identifier
